<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- Servlets -->
    <servlet>
        <servlet-name>plcServlet</servlet-name>
        <servlet-class>modbus.control.server.PLCServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>plcServlet</servlet-name>
        <url-pattern>/modbuscontrol/plc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>databaseServlet</servlet-name>
        <servlet-class>modbus.control.server.DatabaseServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>databaseServlet</servlet-name>
        <url-pattern>/modbuscontrol/database</url-pattern>
    </servlet-mapping>
    <!-- start DB Connection with params -->
    <context-param>
        <param-name>db.url</param-name>
        <param-value>jdbc:h2:~/wagocontrol</param-value>
        <!-- <param-value>jdbc:h2:~/wagocontrol;INIT=CREATE SCHEMA IF NOT EXISTS WAGOCONTROL\;RUNSCRIPT FROM '~/sql/db_init.sql';DB_CLOSE_DELAY=-1</param-value> -->
    </context-param>
    <context-param>
        <param-name>db.user</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>db.password</param-name>
        <param-value>12qwertz.-</param-value>
    </context-param>
    <listener>
        <listener-class>org.h2.server.web.DbStarter</listener-class>
    </listener>
    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>ModbusControl.html</welcome-file>
    </welcome-file-list>
</web-app>
